Anne, baba ve çocuktan oluşan çekirdek ailenin Süper aile olup olmadığını bulan kodu yazın. isimleri kullanıcıdan isteyin. (Çocuğun ismindeki sessiz harflerin hepsi, anne ve babanın isimlerinde var ise bu aile süper ailedir.(Not: anne ve baba isminden en az bir tane olmalı.). örn1: baba adı = "Halil", anne adı= "Merve", çocuk adı= "Veli" >> Süper aile. ("v" anneden, "l" babadan) örn2: baba adı = "Murat", anne adı= "Songül", çocuk adı= "Mert" >> Süper aile değil. Anneden harf yok.

In [4]:
def is_super_family(anne, baba, cocuk):
    
    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()
    
    cocuk_sessiz_harfler = ""
    
    
    for i in cocuk:
        if i not in "aeıioöuü":
            cocuk_sessiz_harfler += i        
    
    if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba) ):
        print("Bu aile super ailedir")
    else:
       print("Bu aile super aile degildir")

In [2]:
is_super_family("halil","merve","veli")

Bu aile super ailedir

In [5]:
is_super_family("Murat","Songul","Mert")

Bu aile super aile degildir

## Arbitary Number of Arguments(*args, **kwargs)

### **kwargs

In [6]:
dict_1 = {"name1":"Arzu", "name2":"Omer", "name3":"Hamdi"}
dict_1

{'name1': 'Arzu', 'name2': 'Omer', 'name3': 'Hamdi'}

In [16]:
def kwargs_function(**names):
    
    for i, j in names.items():
        print(f"key: {i}, value: {j}")

In [18]:
kwargs_function(dict_1)

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [21]:
kwargs_function(**dict_1)

key: name1, value: Arzu
key: name2, value: Omer
key: name3, value: Hamdi

In [11]:
kwargs_function("yavuz")

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [17]:
kwargs_function(name4 = "Berk", name5 = "Ramazan", name6 = "Yavuz")

key: name4, value: Berk
key: name5, value: Ramazan
key: name6, value: Yavuz

## filter()

- data analyst alaninda is gorur

In [22]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [23]:
filter(None, "Hello")

In [25]:
list(filter(None, "Hello"))

['H', 'e', 'l', 'l', 'o']

In [27]:
list(filter(None,[1,2,3,0,True,False,"",0.0,"Techpro"])) # false olanlari dondurmez

[1, 2, 3, True, 'Techpro']

In [28]:
def find_odds(x):
    
    if x % 2 == 1:
        return True
    else:
        return False

In [31]:
find_odds(1234)

False

In [32]:
find_odds(5)

True

In [36]:
list(filter(find_odds, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [37]:
def find_evens(x):

    if x % 2 == 1:
        return False
    else:
        return True

In [39]:
list(filter(find_evens, (4,32,34,32,6356,52,6231,4,231,53246)))

[4, 32, 34, 32, 6356, 52, 4, 53246]

In [40]:
isimler_listesi = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [41]:
def bes_elemanli(x):
    
    if len(x) == 5:
        return True

In [42]:
list(filter(bes_elemanli, ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]))

['sedat', 'Bahar', 'Bilge']

In [44]:
def isArmstrong(sayı):

    sayı = str(sayı)
    return sum([ int(i) ** len(sayı)  for i in sayı]) == int(sayı)

In [45]:
isArmstrong(408)

False

In [47]:
list(filter(isArmstrong, range(10,1000000)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

## lambda()

- kullan at fonksiyon olarak dusun

In [48]:
def kareler_toplami(x, y):
    return x ** 2 + y ** 2

In [49]:
kareler_toplami(4, 3)

25

In [50]:
lambda x, y: x**2 + y**2

In [51]:
(lambda x, y: x**2 + y**2)(4,3) # bu fonksiyonu burda kullandik bitti

25

In [52]:
def len_5(x):
    if len(x) == 5: return True

In [54]:
(lambda x: len(x) == 5)("arzu")

False

In [55]:
(lambda x: len(x) == 5)("yavuz")

True

In [59]:
list(filter((lambda x: len(x) == 5), isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [63]:
list(filter((lambda x: x % 2 == 0),[1,2,3,4,5]))

[2, 4]

In [67]:
tek_sayi_ayiklayici = (lambda x: x % 2 == 0) # lambda yi baska yerde kullanmak istersek

In [68]:
tek_sayi_ayiklayici(8)

True

In [71]:
(lambda x: x == x[::-1])("nazan")

True

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gundu\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gundu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gundu\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gundu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gundu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\gundu\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("adult_eda.csv")

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [11]:
df.sex.apply(lambda x: 0 if x =="Male" else 1) # Erkek olanlari 0, kadinlari 1 yapti

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64